In [14]:
import numpy as np
import pandas as pd

In [2]:
C = [12, 4, 10, 40, 2]
C = np.sort(C)
C

array([ 2,  4, 10, 12, 40])

In [13]:
#Creacion de estructura 

cabeceras = [('nombre', 'S10'), ('edad', int) , ('estatura', float)]
datos = [ ('Juan', 10, 1), ('Maria', 70, 1.4 ), ('Javier',42 , 1.7), ('Samuel', 15, 1.5)]
usuarios = np.array(datos, dtype = cabeceras)

dt= np.sort(usuarios, order = 'estatura') #Ordena la estructura a partir de la edad

array([(b'Juan', 10, 1. ), (b'Maria', 70, 1.4), (b'Samuel', 15, 1.5),
       (b'Javier', 42, 1.7)],
      dtype=[('nombre', 'S10'), ('edad', '<i4'), ('estatura', '<f8')])

In [9]:

a = np.full ( (3,5) , 5 ) #cracion de un arregle bi-dimensional 
b = np.diag([0,3,9,25]) # Crea una diagonal con los valores dados en una matriz (cuadrada)
b

array([[ 0,  0,  0,  0],
       [ 0,  3,  0,  0],
       [ 0,  0,  9,  0],
       [ 0,  0,  0, 25]])

In [17]:
## PANDAS 

series = pd.Series ( [5,10,15,20,25])
series[3]  # Para visualizar el dato de la posicion 3 de serie

20

In [19]:
cad = pd.Series( ['p','l','a', 't', 'z', 'i'])
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [20]:
#Dataframe 

lst = ['Hola', 'mundo', 'robotico']
df = pd.DataFrame(lst)

          0
0      Hola
1     mundo
2  robotico

In [22]:
 # Crea dos cabeceras (Nombre y Edad) con sus respectivos datos
data = {'Nombre':['Juan', 'Ana', 'Jose', 'Arturo'], 
        'Edad' : [25,18,23,27],
        'Pais' : ['Mx' , 'Co','Br','Mx']}
df = pd.DataFrame(data)

print(df[['Nombre', 'Pais']]) # Para imprimir dos dos datos de la cabecera

   Nombre Pais
0    Juan   Mx
1     Ana   Co
2    Jose   Br
3  Arturo   Mx

In [39]:
# leer archivo de excel 

data =pd.read_csv('canciones_2018.csv')
data.head(5) #Solo muestra los 5 primeros elementos 

#Para agregar un dato a una varible del archivo
# var = data.nombreVariable

#Data.shape  Para conocer el tama√±o del archivo fila, columna 

key= data['key']
liveness =  data['liveness']
danceability = data['danceability']


key = key.sort_index(axis = 0, ascending = True)  #Para organizar los datos de forma ascendente
liveness = liveness.sort_index(axis = 0, ascending = True)
danceability = danceability.sort_index(axis = 0, ascending = True)